.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.rentList {
    font-size: 20px;
    font-weight: bold;
}

.monthPicker{
    font-size: 40px;
    font-weight: bold;
}

.monthPickerSmallText {
    font-size: 20px;
    font-weight: bold;
}


.panelTitle{
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}



h1 {

}

th, tr {
    padding-left: 8px;
    padding-bottom: 5px;
}

.btn-danger {

}


.container {
    margin: 20px auto 0;
}

.options {
}
