<div th:fragment="header">
    <!-- this is header -->
    <nav>
        <!-- Bedre placering af knap -->
        <!--<button class="btn btn-primary"> &lt; Tilbage </button>-->
        <!--<button class="btn btn-info">Overblik</button>-->
        <div th:replace="fragments/branding :: brandingFragment"/>

        <div class="btn-group pull-right">
   <!--         <a href="/adminpanel" class="btn btn-default">Admin</a>-->
            <a href="/budgetview" class="btn btn-warning">Budget</a>
        </div>

        <ul class="nav nav-pills">
            <li>
                <a href="/">Overblik</a>
            </li>
            <li th:each="user : ${users}">
                <a th:if="${user.getUserID() == currentID}" class="btn-danger" href="/userview?userID=" th:text="${user.getName()}" th:attrappend="href=${user.getUserID()}"/>
                <a th:if="${user.getUserID() != currentID}" href="/userview?userID=" th:text="${user.getName()}" th:attrappend="href=${user.getUserID()}"/>

            </li>
            <li>
                <a href="/adminpanel">ADMIN</a>
            </li>

            <!--<li>
                <a href="/budgetview">BudgetMonth</a>
            </li>-->
        </ul>
    </nav>
</div>