<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
        <title>Document</title>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--CSS-->
        <link rel="stylesheet" href="adminstyle.css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8">
                    <div th:replace="fragments/header :: header"/>
                    <h1>Login</h1>
                    <!--Objektet er IKKE navnet, men typen.. Den skal bare lede efter en slags-->
                    <form th:object="${user}" class="form" action="/login" method="POST">
                        <div class="form-group">
                            <payLabel for="nameField">Navn:</payLabel>
                            <input th:field="*{name}" type="text" id="nameField" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <payLabel for="passwordField">Password:</payLabel>
                            <input th:field="*{pass}" type="text" class="form-control" id="passwordField"/>
                        </div>
                        <input style="width: 100%; height: 70px; background-color: darkgreen; color: beige; font-weight:300; font-size: 1.4em; font-weight: bold"  class="btn" type="submit" value="LOGIN"/>
                    </form>
                </div>
                <div class="col-md-1 col-lg-2"></div>
            </div>
        </div>
                
    </body>
</html>