<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
        <title>Document</title>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--CSS-->
        <link rel="stylesheet" href="adminstyle.css"/>

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div th:replace="fragments/header :: header"/>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h1>Admin panel</h1>
                <form th:object="${user}" class="form-inline" style="margin-bottom: 40px;" action="/adduser" method="POST">

                    <div class="form-group col-lg-3">
                        <label for="nameField">Navn:</label>
                        <input th:field="*{name}" type="text" id="nameField" class="form-control"/>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="passwordField">Password:</label>
                        <input th:field="*{pass}" type="text" class="form-control" id="passwordField"/>
                    </div>

                    <div class="checkbox-inline">
                        <label><input type="checkbox" value=""/>Aktiv?</label>
                    </div>
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value=""/>Admin</label>
                    </div>

                    <input class="btn btn-default" type="submit" value="Lav ny bruger"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">

                <div class="panel panel-default">
                    <div class="panel-heading">
                            Brugere
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive ">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td>Navn</td>
                                    <td>Status</td>
                                    <td>Admin</td>
                                    <td>UUID</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user: ${users}">
                                    <td th:text="${user.getName()}">Jonas</td>
                                    <td th:text="${user.isActive()}">Aktiv</td>
                                    <td th:text="${user.isAdmin()}">Admin</td>
                                    <td th:text="${user.getUserID()}">UUID</td>
                                    <td>
                                        <button type="submit" class="btn btn-default">Edit</button>
                                    </td>
                                    <td>
                                        <form th:attr="action='/deleteuser'" method="POST">
                                            <input th:attr="value=${user.getUserID()}" type="hidden" name="deleteid"></input>
                                            <button type="submit" class="btn btn-default">Delete</button>
                                        </form>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Objektet er IKKE navnet, men typen.. Den skal bare lede efter en slags-->
                <!--<form th:object="${user}" class="form-inline" action="/adduser" method="POST">-->

                    <!--<div class="form-group">-->
                        <!--<label for="nameField">Navn:</label>-->
                        <!--<input th:field="*{name}" type="text" id="nameField" class="form-control"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="passwordField">Password:</label>-->
                        <!--<input th:field="*{pass}" type="text" class="form-control" id="passwordField"/>-->
                    <!--</div>-->
                    <!--<input class="btn btn-default" type="submit" value="Lav ny bruger"/>-->
                <!--</form>-->
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- jQuery library -->

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>