<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
        <title>Document</title>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--CSS-->
        <link rel="stylesheet" href="adminstyle.css"/>
    </head>
    <body>
    <!--    HEADER      -->
        <div class="container">
            <div class="row">
                <div th:replace="fragments/header :: header"/>
            </div>
            <!--    OVERSIGT      -->
            <div class="row">
                <br/>
                <div class="col-lg-6 col-lg-offset-3">
                    <!--    MONTH CHOOSER      -->
                    <div class="panel panel-primary" style="height: 130px;">
                        <div class="panel-heading text-center" style="padding: 5px">
                            <!--    TITEL HUSLEJE      -->
                            <div class="" style="font-size: 20px; font-weight: bold; padding: 0;">Budget for:</div>
                        </div>
                        <div class="panel-body text-center" style="padding-top: 14px;">
                            <!--<div class="text-center" style="font-size: 30px; font-weight: bold">Januar 2017</div>-->
                            <div class="btn-group">
                                <a class="btn" style="font-size: 30px;"> &lt; </a>
                                <div th:text="${month}" class="btn disabled text-capitalize" style="font-size: 30px; font-weight: bold; opacity: 1; min-width: 300px;">JANUAR 2017</div>
                                <a class="btn" style="font-size: 30px;"> &gt; </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <table class="table">
                            <thead>
                                <th>Budget post</th>
                                <th>Kategori</th>
                                <th>Beløb pr måned</th>
                                <th>Beløb pr person</th>
                            </thead>
                            <tbody>
                            <tr th:each="budgetpost : ${budgetposts}">
                                <td th:text="${budgetpost.getDescription()}">
                                    Kaffeklub
                                </td>
                                <td  th:text="${budgetpost.getCategory().getLabel()}">
                                    Kaffe
                                </td>
                                <td th:text="${budgetpost.getTotal()} + ' kr'">
                                    180kr
                                </td>
                                <td th:text="${budgetpost.getShare()} + ' kr'">
                                    30kr
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <th></th>
                            <th></th>
                            <th th:text="${total} + ' kr'">21.616,00kr</th>
                            <th></th>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
    </body>
</html>