<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
        <title>Document</title>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--CSS-->
        <link rel="stylesheet" href="adminstyle.css"/>
    </head>
    <body>
    <!--    HEADER      -->
        <div class="container">
            <div class="row">
                <div th:replace="fragments/header :: header"/>
            </div>
            <!--    OVERSIGT      -->
            <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <table class="table">
                            <thead>
                                <th>Budget post</th>
                                <th>Kategori</th>
                                <th>Beløb pr måned</th>
                                <th>Beløb pr person</th>
                            </thead>
                            <tbody>
                            <tr th:each="budgetpost : ${budgetposts}">
                                <td th:text="${budgetpost.getDescription()}">
                                    Kaffeklub
                                </td>
                                <td  th:text="${budgetpost.getCategory().getLabel()}">
                                    Kaffe
                                </td>
                                <td th:text="${budgetpost.getTotal()} + ' kr'">
                                    180kr
                                </td>
                                <td th:text="${budgetpost.getShare()} + ' kr'">
                                    30kr
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <th></th>
                            <th></th>
                            <th th:text="${total} + ' kr'">21.616,00kr</th>
                            <th></th>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
    </body>
</html>