<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
        <title>Document</title>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--CSS-->
        <link rel="stylesheet" href="adminstyle.css"/>
    </head>
    <body>
    <!--    HEADER      -->
        <div class="container">
            <div class="row">
                <div th:replace="fragments/header :: header"/>
            </div>

            <!--    OVERSIGT      -->
            <div class="row">
                <br/>
                <div class="col-lg-4">
                    <div class="panel panel-primary" >
                        <!--style="height: 130px"-->
                        <div class="panel-heading text-center" style="padding: 5px">

                            <!--    TITEL HUSLEJE      -->
                            <div class="panelTitle">Husleje Februar</div>
                        </div>
                        <div class="panel-body text-center">

                            <!--    HUSLEJE BELØB      -->
                            <table class="table">
                                <tbody>
                                <tr th:each="user : ${usersWithRent}">
                                    <td>
                                        <div th:text="${user.getName()}" class="rentList">Jonas </div>
                                    </td>
                                    <td>
                                        <div th:text="${budget.calculateRentFor(user)} + 'kr'" class="rentList">3500kr</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="panel panel-primary">
                        <!--TODO: gør at farven ændrere sig-->
                        <div th:text="'Budget ' + ${budget.getBudgetBalance()} + ' KR'" class="panel-heading" style="font-size: 20px; font-weight: bold">
                            Budget −193,95 KR
                        </div>

                        <!--    PANEL BODY      -->
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>
                                        Post
                                    </th>
                                    <th>
                                        Budget
                                    </th>
                                    <th>
                                        Brugt
                                    </th>
                                    <th>
                                        Tilbage
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="budgetpost : ${budgetpostswithpayments}">
                                    <td th:text="${budgetpost.getDescription()}">
                                        Kaffe
                                    </td>
                                    <td th:text="${budgetpost.getTotal()}">
                                        180,00 kr
                                    </td>
                                    <td th:text="${budget.getTotalSpendOn(budgetpost)}">
                                        -100,00 kr
                                    </td>
                                    <td  th:text="${budget.getRemainingFor(budgetpost)}">
                                        80,00 kr
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--  UDLÆG OVERSIGT  -->
                    <!--    PANEL HEADING      -->
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="font-size: 20px; font-weight: bold">
                            Udlæg denne måned
                        </div>

                        <!--    PANEL BODY      -->
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <th>Dato</th>
                                    <th>Person</th>
                                    <th>Betaling</th>
                                    <th>Kategori</th>
                                    <th>Beløb</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12/1 - 2017</td>
                                        <td>Røde</td>
                                        <td>Søstrene grene</td>
                                        <td>Dagligvarer</td>
                                        <td>60,00kr</td>
                                    </tr>
                                    <tr>
                                        <td>9/1 - 2017</td>
                                        <td>Tine</td>
                                        <td>Netto - Kaffe</td>
                                        <td>Kaffe</td>
                                        <td>100,00kr</td>
                                    </tr>
                                    <tr>
                                        <td>10/1 - 2017</td>
                                        <td>Michael</td>
                                        <td>Silvan - plæneklipper</td>
                                        <td>Større indkøb</td>
                                        <td>500,00kr</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>