<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
        <title>Document</title>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--CSS-->
        <link rel="stylesheet" href="adminstyle.css"/>
    </head>
    <body>
    <!--    HEADER      -->
        <div class="container">
            <div class="row">
                <div th:replace="fragments/header :: header"/>
            </div>

            <!--    OVERSIGT      -->
            <div class="row">
                <br/>

                <!--    HUSLEJE OVERSIGT      -->
                <div class="col-lg-8">
                    <div class="panel panel-primary" style="height: 130px">
                        <div class="panel-heading text-center" style="padding: 5px">

                            <!--    TITEL HUSLEJE      -->
                            <div th:text="'Husleje ' + ${nextmonth}" class="" style="font-size: 20px; font-weight: bold; padding: 0;">Husleje Februar</div>
                        </div>
                        <div class="panel-body text-center">

                            <!--    PRIS HUSLEJE      -->

                            <div th:text="${rent} + ' kr'" style="font-size: 40px; font-weight: bold; ">3500kr</div>
                        </div>
                    </div>
                </div>
                <!--    HUSLEJE OVERSIGT SLUT      -->
            </div>
            <!--    OVERSIGT SLUT      -->

            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <button type="button" style="background-color: darkgreen; color: whitesmoke" class="btn btn-lg" data-toggle="modal" data-target="#createPayment">Tilføj Udlæg</button>
                    </p>
                </div>
            </div>


            <!--    UDLÆG LISTE      -->
            <div class="row">
                <div class="col-lg-12">

                    <!--    PANEL HEADING      -->
                    <div class="panel panel-primary">
                        <!--<div class="panel-heading" style="font-size: 20px; font-weight: bold">
                            Udlæg denne måned
                        </div>-->

                        <!--    PANEL BODY      -->
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Dato</th>
                                        <th>Betaling</th>
                                        <th>Kategori</th>
                                        <th>Beløb</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="payment : ${payments}">
                                    <td class="text-capitalize">13/1 - 2017</td>
                                    <td th:text="${payment.getDescription()}" class="text-capitalize">Description</td>
                                    <td th:text="${payment.getPayLabel()}" class="text-capitalize">Category</td>
                                    <td th:text="${payment.getAmount()} + ' kr'">Amount</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--    UDLÆG LISTE SLUT      -->

            <div id="createPayment" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <!--MODAL HEADER-->
                        <div class="modal-header" style="background-color: darkgreen; color: whitesmoke;">
                            <button type="button" class="close" data-dismiss="modal" style="color: whitesmoke;">&times;</button>

                            <!--TITLE-->
                            <h3 class="modal-title">Tilføj Udlæg</h3>
                        </div>

                        <!--MODAL BODY-->
                        <div class="modal-body">

                            <!--FORM BEGIN-->
                            <form class="form" method="post" action="/userview/addpayment">

                                <!--PASSWORD-->
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" id="password" th:name="password" type="password"/>
                                </div>

                                <input id="userID" type="hidden" th:name="userID" th:attr="value=${currentUser.getUserID()}"/>

                                <!--DESCRIPTION-->
                                <div class="form-group">
                                    <label for="description">Beskrivelse</label>
                                    <input class="form-control"  th:name="description" id="description" type="text"/>
                                </div>

                                <!--KATEGORI-->
                                <div class="form-group">
                                    <label for="paymentcategoryID">Kategori</label>
                                    <select class="form-control" th:name="paymentcategoryID" id="paymentcategoryID">
                                        <option th:each="payLabel : ${categories}" th:text="${payLabel.getLabel()}" th:attr="value=${payLabel.getID()}">Dagligvarer</option>
                                    </select>
                                </div>

                                <!--AMOUNT-->
                                <div class="form-group">
                                    <label for="amount">Beløb</label>
                                    <input class="form-control"  th:name="amount" id="amount" type="text"/>
                                </div>

                                <!--GEM-->
                                <button class="btn btn-primary" type="submit">GEM</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- jQuery library -->
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>